<% content_for :title, "Sign up" %>

<!-- Put Navigation stuff below-->


<!-- Page content goes below-->
<div class="container" style="background: #5394A8; margin-top: 1%; border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <% flash.each do |key, value| %>
      <div class="col-md-10 col-sm-12 p-a-3">
        <div class="row omb_row-sm-offset-3 no-gutter m-a-3">
          <div class="col-xs-12 col-sm-6">
            <%= content_tag(:span, value, :class => "label label-danger") %>
          </div>
        </div></div>
  <% end %>
  <% flash.clear %>
  <br/>

    <div class="row" style="padding: 20px">
      <img src="/assets/logo.png" style="padding: 5px; margin-left: 30px; max-height: 100px; max-width: 100px"/>

      <%= form_tag({:action => :create, :method => :post}, {:class => 'form-horizontal'}) %>
    <!--Name-->
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <%= text_field "user", "name", "class" => "form-control", "placeholder" => "Full Name" %>
        </div>
      </div>
    <!--Email-->
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <%= text_field "user", "email", "class" => "form-control" , "placeholder" => "user@domain.com"%>
        </div>
      </div>
    <!--Password-->
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <%= password_field "user", "password_field", "class" => "form-control" %>
        </div>
      </div>
    <!--Address-->
      <div class="form-group">
        <label for="inputAddress" class="col-lg-2 control-label">Address</label>
        <div class="col-lg-10">
          <%= text_field "user", "address", "class" => "form-control" , "placeholder" => "home address(optional)"%>
        </div>
      </div>

    <!--Button-->
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default" style="background-color: #999999">Reset</button>
          <button type="submit" class="btn btn-primary" style="background-color: #00ADAF">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</div>